html{
	overflow-x:hidden;
	background: rgba(228,229,233,0.91);
	height: 100%;
	
}
/*@media only screen and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 2048px) and (min-width: 1536px), only screen and (-webkit-min-device-pixel-ratio: 1.1), not all}
*/
.wrapper{
	background-color: white;
	position: relative;
	margin: 50px auto;
	width: 1280px;
	border-radius: 80px;
	padding: 20px 0;
	box-shadow: 0px 0px 100px rgba(6,21,47,0.62);
	
}

h3{	
	margin:auto;
	padding: 20px 10px;
	text-align: center;
	text-shadow:0px 0px 100px black;
	
}
.header1{
	width: 90%;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	margin: auto;
	background-color: rgba(6,21,47,0.62);
	color: white;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	border-radius: 35px;
	z-index: 20;


}
.cover{
	margin: auto;
	position: relative;
	height: 480px;
	width: 950px;

}


.slika {
	margin: auto;

	position: relative;
	height: 460px;
	width: 90%;
	
	background-image: none;
	background-color: rgba(168,1,29,0.88);
	-webkit-transform:rotate(-4deg);
	-ms-transform:rotate(-4deg);
	transform:rotate(-4deg);
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;


	
		


	
}
/*.slika:hover{
	-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);

}

.slika:hover .form{
			-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		
		transform:rotate(0deg);
}*/
/*.banner-information-strip-background {
		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
		-ms-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
		box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
		margin:0px;
		background-color: rgba(6,21,47,0.62);
		padding: 20px 10px 0px 10px;
		position: absolute;
		min-height: 1000px;
		
		width: 260px;

		padding-bottom: 15px;

		
}*/

.logo{
	width: 360px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 100px;
	position: relative;
}

.cut-out-region {
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 2005;
    bottom: 0px;
    width: 100%;
    display: block;
}
.unselectable {
	/*-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	-o-user-select:      none;
	user-select:         none;
	cursor: default;*/
}
.copyright {
	text-align: center;
	font-size: 13px;
	display: block;
	
	color: #000;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	padding-top: 18px;
	margin: 10px;
			}


.login-page {

  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.form {
	
-webkit-transform:rotate(4deg);
-ms-transform:rotate(4deg);
transform:rotate(4deg);
  position: relative;
  
  background: rgba(228,229,233,0.61);

  -webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		border-radius: 50px;
  max-width: 360px;
  
  padding: 45px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 20;
}
.form input {

	border: none;
  font-family: 'Open Sans', sans-serif;
  
  background: #f2f2f2;
  width: 100%;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {

	border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  
  background: rgba(6,21,47,0.67);;
  width: 100%;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 14px;
  /*-webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;*/
  cursor: pointer;
  z-index: 120;

}
.form button:hover,.form button:active,.form button:focus {
  background: rgba(168,1,29,0.78);
}

.form .register-form {
  display: none;
}
/* .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
} */
/* .container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
} */



/*
.lozinka {
		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
		-ms-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 8px rgba(0,0,0,0.5);

		background-color: rgba(6,21,47,0.62);
		background-color: rgba(168,1,29,0.80);

		width: 180px;
		height: 80px;

		-webkit-transform:rotate(10deg);
		-ms-transform:rotate(10deg);
		transform:rotate(10deg);

		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		border-radius: 25px;

		transition: 877ms;

		margin:auto;
		right: 200px;

		position: absolute;
		display: block;
		z-index: 200;

	}*/

	.reset {
		/*margin:auto;*/
		margin-top:1130px;
		position: relative;
		cursor: pointer;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		color: white;
  		font-size: 14px;
  		text-align:center;
  		
  		

	}
	a{
		text-decoration: none;
	}
	.reset:hover{
		color: rgba(6,21,47,0.62);
	}




/*
* Responsive grid
*/

/*Global*/

.container-fluid,
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container-fluid:after,
.container:after {
	clear: both;
	display: table;
	content: " ";
}

.row:after,
.row:before {
	display: table;
	content: " ";
}


.row {
	margin-right: -15px;
	margin-left: -15px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	box-sizing: border-box;
}

/*XS screens*/

@media (max-width: 767px) {
	.container {
		width: 100%;
	}

	.col-xs-1 {
		width: 8.333333%;
	}
	.col-xs-2 {
		width: 16.666667%;
	}
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33.333333%;
	}
	.col-xs-5 {
		width: 41.666667%;
	}
	.col-xs-6 {
		width: 50%;
	}
	.col-xs-7 {
		width: 58.333333%;
	}
	.col-xs-8 {
		width: 66.666667%;
	}
	.col-xs-8 {
		width: 66.666667%;
	}
	.col-xs-9 {
		width: 75%;
	}
	.col-xs-10 {
		width: 83.333333%;
	}
	.col-xs-11 {
		width: 91.666667%;
	}
	.col-xs-12 {
		width: 100%;
	}
	
	.header1 {
		font-size: 22px;
	}
	
	.logo {
		width: 250px;
		margin: 0;
	}

	.slika {
		height: 380px;
	}

	.login-page {
    padding: 8% 0 0 0;
    width: 90%;
	}


}



/*SM scrrens*/

@media (min-width: 768px) {
	.container {
		width: 730px;
	}

	.col-sm-1 {
		width: 8.333333%;
	}
	.col-sm-2 {
		width: 16.666667%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.333333%;
	}
	.col-sm-5 {
		width: 41.666667%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.333333%;
	}
	.col-sm-8 {
		width: 66.666667%;
	}
	.col-sm-8 {
		width: 66.666667%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.333333%;
	}
	.col-sm-11 {
		width: 91.666667%;
	}
	.col-sm-12 {
		width: 100%;
	}

	.crowdinvesting {
		display: none;
	}


}



@media (min-width: 992px) {
	.container {
		width: 960px;
	}

	.col-md-1 {
		width: 8.333333%;
	}
	.col-md-2 {
		width: 16.666667%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.333333%;
	}
	.col-md-5 {
		width: 41.666667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.333333%;
	}
	.col-md-8 {
		width: 66.666667%;
	}
	.col-md-8 {
		width: 66.666667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.333333%;
	}
	.col-md-11 {
		width: 91.666667%;
	}
	.col-md-12 {
		width: 100%;
	}

	.crowdinvesting {
		display: initial;
	}

}



@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}



	.col-lg-1 {
		width: 8.333333%;
	}
	.col-lg-2 {
		width: 16.666667%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.333333%;
	}
	.col-lg-5 {
		width: 41.666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.333333%;
	}
	.col-lg-8 {
		width: 66.666667%;
	}
	.col-lg-8 {
		width: 66.666667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.333333%;
	}
	.col-lg-11 {
		width: 91.666667%;
	}
	.col-lg-12 {
		width: 100%;
	}

}




